.key-word-item{
    text-align: left;
    color: #777777;
}

.key-word-item a{
    text-decoration: none;
    color: #777777;
}

.key-word-title{
    color: #9B9B9B;
    font-weight: bolder;
    text-align: left;
}
.contact{
    margin-right: 1rem;
}
.footer{
    margin-top: 60px;
    padding: 20px;
    background-color: #ffba00;
    margin-bottom: 0;
}