.profile{
    background-color: #fff;
}

.profile h3, h4{
    border-bottom: 1px solid #000;
    padding-bottom: 0.75rem;
}
.avatar-col{
    padding: 50px;
}
.avatar-wrapper img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.avatar-wrapper{
    position: relative;
}
.avatar-wrapper svg{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.edit-field{
    padding: 10px 20px 10px 10px;
}
.edit-field label{
    font-weight: bold;
}
.edit-group{
    margin-bottom: 10px;
}

.account-balance {
    display: flex;
    width: 100%;
}

.account-balance img{
    width: 50px;
    height: 70px;
}
.account-balance p{
    width: 150px;
    height: 30px;
    margin-bottom: 0;
    padding-left: 10px;
}