.upload-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    border-radius: 20px;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    font-size: large;
}
.upload-img span{
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}
.upload-img input {
    display: none;
}
.image {
    position: relative;
    margin: 10px 0;
}

.image button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: border-box;
}