.detail-carousel .carousel-control-prev,.detail-carousel .carousel-control-next{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.detail-carousel{
    height: 400px;
}

.book-img{
    height: 400px;
    width: 100%;
}

.main-detail{
    padding: 1rem 0 1rem 1.5rem;
}
.main-detail .book-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.author{
    font-size: 0.75rem;
}

.main-detail h6 {
    color: #8F8297;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.contact-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: 500;
}
.contact-rent{
    height: 250px;
    position: sticky;
    top: 10px;
}