.categories-title{
    font-size: 17px;
    margin: 0px 0px 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: rgb(34, 34, 34);
}

.img-wrapper{
    width: 84px;
    height: 84px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px auto;
}

.category-item{
    width: 100px;
    display: inline-block;
    margin: 10px 30px;
}
.key-word-item{
    text-align: left;
    color: #777777;
}

.key-word-item a{
    text-decoration: none;
    color: #777777;
}

.key-word-title{
    color: #9B9B9B;
    font-weight: bolder;
    text-align: left;
}